.update-menu {
    font-family: "Mooli";
    margin-top: 20px;
    padding-bottom: 40px;
}

.image{
  background-image: url("../../Images/adminbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    z-index: -1;
}

.update-menu h1,h2{
    font-family: "Mooli";
    font-size: 40px;
    color: black;
    font-style: unset;
    text-align: center;
  }
  .menu-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  
  .menu-form label {
    margin-left: 570px;
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  .menu-form input,select {
    margin-left: 40px;
    padding: 8px;
    font-family: "Mooli";
    font-size: 18px;
    width: 200px;
  }
  
  .menu-form button {
    font-family: "Mooli";
    font-size: 18px;
    padding: 10px;
    background-color: #e7943c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-left: 670px;
  }
  
  .menu-form button:hover {
    background-color: #ea7f0c;
  }
  
  .menu-items {
    margin-top: 20px;
    font-size: 20px; 
  }
  
  .menu-categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.menu-category-item {
    text-align: center;
    text-decoration: none; /* Removes underline from text */
}

.menu-categories button {
    width: 200px;
    height: 170px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease-in-out;
}

.menu-categories button:hover {
    transform: scale(1.05);
}

.menu-categories button:focus {
    outline: none;
}

.menu-category-item span {
  margin-top: 10px;
  display: block;
  font-size: 23px;
  font-weight: bold;
  color: white; /* Set the text color to white */
  background-color: rgba(208, 142, 55, 0.8); /* Black background with 60% opacity */
  padding: 5px 10px; /* Add some padding around the text */
  border-radius: 5px; /* Slightly round the corners of the background */
  width: fit-content; /* Ensure the background only wraps the text */
  margin-left: auto; /* Center the text horizontally */
  margin-right: auto; /* Center the text horizontally */
}