
  .review-container {
    margin-top: px;
    padding: 20px;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
  }
  
  .review-container  h1 {
    margin-bottom: 30px;
    font-size: 45px;
    color: black;
    font-family: "Mooli";
  }
  
  .re-carousel {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px; /* Set your desired height here */
  }
  
  .re-slide {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: left;
    height: 300px; /* Set the same height here for consistency */
  }
  
  .reviewbg{
    background-image: url("../../Images/adminbg.jpg"); /* Add the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }
  
  .re-content {
    margin: 40px auto;
    max-width: 500px;
    text-align: center;
  }
  
  .re-content h3 {
    margin: 0;
    font-size: 30px;
    color: white;
  }
  
  .re-content p {
    margin: 10px 0;
    font-size: 25px;
    color: white;
    font-style: italic;
  }
  
  .re-content span {
    font-size: 20px;
    color: white;
  }
  